# Dependencies
node_modules/

# Next.js
.next/
out/

# Optional caches
.turbo/
.swc/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files (but keep an example in git)
.env
.env.local
.env.*.local
.env.*
!.env.example

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/

# Vercel
.vercel/

# (If you use Firebase emulators later)
.firebase/
